name: Security audit
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
        - uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee #v1.0.4
          with:
            go-version-file: go.mod
            check-latest: true
  
